.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  
}


.title {
  width: 100%;
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #eee;
  border: none;
  padding: 4px 12px;
  margin: 4px 0;
  width: 100%;
}

.button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 0.5rem 0;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.ghostButton {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.errorMessage {
  color: crimson;
  font-size: 0.6rem;
  text-align: left;
  padding: 0 0.8rem;
  margin-top: -0.3rem;
  width: 100%;
  /* margin: 0.2rem 0; */
}

.profile img{
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 2px solid #b6b6b6;
  padding: 2px;

}

@media (max-width : 500px) {
  .form{
    padding: 20px 18px;
    margin: 1.8rem 0.5rem;
    border-radius: 14px;
    box-shadow: 2px 2px 20px #ccc;
  }
  
}